<% if user_signed_in? %>
  <center><h1>Welcome <%= current_user.user_name %> !!</h1></center>
<% end %>


<br /><ul class="hmenu">
  <%= render 'devise/menu/registration_items' %>
  <%= render 'devise/menu/login_items' %>
</ul>

<%= link_to 'Users', 'users/' %><br>
<%= link_to 'Show Leaves', 'leaves/' %> <br>
<%= link_to 'Teams', 'teams/' %> <br>
<%= link_to 'Request Leave', { :controller => 'users', :action => 'request_leave', :id => 1 } %>
