<!DOCTYPE html>
<html>
<head>
  <title>Merlin</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if not notice.nil? %>
    <div class="<%= 'notice' if not notice.nil? %>">
      <%= notice %>
    </div>
  <% end %>
  
  <div class="<%= 'alert' if not alert.nil? %>">
    <%= alert %>
  </div>
  
  <%= yield %>

</body>
</html>
