<!DOCTYPE html>
<html>
<head>
  </script>
  <title>Merlin</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='bg_color'>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class='navbar-inner'>
      <div class="container">
        <a class="brand" href="#">Vertis Leave System</a>
        <div class="nav-collapse collapse">
          <ul class="nav nav-pills">
            <li class="<%= 'active' if params[:controller] == 'home' %>">
              <%= link_to 'Home', { :controller => 'home', :action => 'index' } %>
            </li>
            <li class="<%= 'active' if params[:controller] == 'users' && params[:action] == 'index' %>">
              <%= link_to 'Users', { :controller => 'users', :action => 'index' } %>
            </li>
            <li class="<%= 'active' if params[:controller] == 'leaves' %>">
              <%= link_to 'Leaves', { :controller => 'leaves', :action => 'index' } %>
            </li>
            <li class="<%= 'active' if params[:controller] == 'teams' %>">
              <%= link_to 'Teams', { :controller => 'teams', :action => 'index' } %>
            </li>
            <li class="<%= 'active' if params[:controller] == 'users' && params[:action] == 'request_leave' %>">
              <%= link_to 'Request Leave', { :controller => 'users', :action => 'request_leave', :id => current_user.id } %>
            </li>
          </ul>
          <div class='pull-right'>
              <%= render 'devise/menu/login_items' %>
              <%= image_tag "vertis_logo.png", :alt => "" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='container no-space'>
      <%= yield %>
  </div>

</body>
</html>
